/* COLORS */
:root {
  --main-dark: #37747a;
  --tomatored: #F25C66;
  --mediumblu: #1E272D;
  --clr-main: #4ecddb;
}
/* 
body {
  background-color: var(--mediumblu);
} */

.gradient-custom {
  /* height: 100vh; */
  /* width: 100vw; */
  /* opacity: 0.9; */
  /* z-index: 1000; */
}

.close-container {
  position: relative;
  width: 5px;
  height: 5px;
  cursor: pointer;
  padding-right: 2rem;
  padding-top: 1rem;
}

.leftright {
  height: 4px;
  width: 20px;
  position: absolute;
  background-color: var(--clr-main);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft {
  height: 4px;
  width: 20px;
  position: absolute;
  /* margin-top: 24px; */
  background-color: var(--clr-main);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.close-container:hover .leftright,
.close-container:hover .rightleft {
  background-color: var(--tomatored) !important;
}

.mask-custom .border-bottom-color {
  border-bottom: 2px solid var(--clr-main) !important;
}

.cursor-send {
  cursor: pointer;
  color: var(--clr-main);
  font-size: 2rem;
}

.cursor-send:hover {
  color: var(--clr-main);
}

.mask-custom .border-top-color {
  border-top: 2px solid var(--clr-main) !important;
}

.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: var(--tomatored);
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: var(--tomatored);
}
.close-container:hover label{
  opacity: 1;
}

/* Custom Scrollbar Styles */
.message-list {
  height: 50vh; /* Set the maximum height */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding: 10px;        /* Remove default padding */
  margin: 0;         /* Remove default margin */
  list-style: none;  /* Remove default list styling */
}
@media (max-width: 768px) {
  .message-list {
    height: 79.6vh !important;
  }
}
@media (max-width: 768px) {
  .chat-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
  }
}

.mask-custom {
  background: rgba(255, 255, 255, 0.2); /* Light color according to theme */
  border-radius: 0.5rem;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  overflow: hidden !important;
}

.mask-custom p {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
/* Add this CSS to your stylesheets */
.modal {
backdrop-filter: blur(12px);
background-color: rgba(0, 0, 0, 0.671);
}

@media (max-width: 768px) {
  .modal {
    align-items: flex-start !important;
  }
}
.mask-custom .header-chat h5{
  color: var(--clr-main);
}

.modal-content {
background-color: white;
padding: 20px;
border-radius: 8px;
width: 900px !important;
/* width: 100%; */
max-height: 80vh; /* Limit the height to 80% of the viewport */
overflow-y: auto; /* Enable vertical scrolling */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to your stylesheets */
.body-no-scroll {
overflow: hidden;
}
/* */

.message-list::-webkit-scrollbar {
  display: none;
}

.message-list {
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}


.input-chat {
  height: 50px;
  border-radius: 10px;
  
}

.bg-main {
  background-color: var(--clr-main);
}

.header-chat, .footer-chat {
  background-color: rgba(10, 10, 10, 0.49);
  overflow: hidden !important;
}
